<div mat-dialog-title>
  {{ isProcessing ? 'Processing' : 'Process Complete' }}
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="spinner" *ngIf="isProcessing; else elseIndicator">
      <mat-spinner diameter="30"></mat-spinner>
    </div>
    <ng-template #elseIndicator>
      <mat-icon>check_circle</mat-icon>
    </ng-template>

    <div class="message" *ngIf="message">
      {{message}}
    </div>
  </div>

</div>
<div mat-dialog-actions *ngIf="!isProcessing">
  <button 
      mat-button 
      type="button"
      color="primary"
      [mat-dialog-close]>
    Close
  </button>
</div>